<% include layout %>
<h1>
  <i class="fa fa-pie-chart" aria-hidden="true"></i>
  <span>Awesome Polls</span>
</h1>
<h2>Welcome to Awesome Polls Adminstrator Websites.</h2>
<p>To access the polss ... Please Login.</p>
<br>
<a href="/login"><button>Login</button></a>
<div class="g-signin2" data-onsuccess="onSignIn" ></div>
<script>
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  }
</script>
<a href="./login.ejs" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>