<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="google-signin-client_id" content="75776049750-kp2p7f38a9800u5952j1h9nhj7qbcidu.apps.googleusercontent.com">
        <title>JWT</title>
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1"/>  <!-- // for mobile users-->
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"  />
        <script src="https://cdn.auth0.com/js/lock/10.12.1/lock.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>

    </head>
    <body>
